In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/drive/MyDrive/csv file/BL-Flickr-Images-Book (3).csv')
df.head()

In [ ]:
to_drop=['Place of Publication','Edition Statement','Engraver']
df.drop(to_drop,inplace=True,axis=1)
df.head()

In [ ]:
unwanted_characters=['[',',','-']
def clean_dates(item):
  dop= str(item.loc['Date of Publication'])
  if dop == 'nan' or dop[0] == '[':
    return np.NaN
  for character in unwanted_characters:
    if character in dop:
      character_index=dop.find(character)
      dop=dop[: character_index]
  return dop
df['Date of Publication']=df.apply(clean_dates,axis = 1)

In [ ]:
def clean_title(title):
  if title == 'nan':
    return 'NaN'
  if title[0] == '[':
    title = title[1: title.find(']')]
  if 'by' in title:
    title = title[:title.find('by')]
  elif 'By' in title:
    title=title [:title.find('By')]
  if '[' in title:
    title=title [:title.find('[')]
  title = title [:-2]
df['Title'] = df['Title'].apply(clean_title)
df.head()

In [ ]:
df.set_index('Identifier',inplace=True)
df.head()
df['Date of Publication'].head(25)

Identifier
206     1879
216      1868
218      1869
472      1851
480      1857
481      1875
519      1872
667       NaN
874      1676
1143     1679
1280     1802
1808     1859
1905     1888
1929     1839
2836     1897
2854     1865
2956     1860
2957     1873
3017     1866
3131     1899
4598     1814
4884     1820
4976     1800
5382     1847
5385      NaN
Name: Date of Publication, dtype: object